body{
    margin: 0px;
    padding: 0px;
    background-image: url(./image.jpeg);
    background-size: cover;
}
 .container h1{
    font-size: 40px;
    padding-top: 20px; 
    color: rgb(20, 12, 12);
}
body.html{
    background-color: rgb(14, 12, 10);
    font-family: sans-serif;
    display: flex;
    justify-content:space-between
    align-items: center;
    min-height: 100vh;
}

.row{
    width: 450px;
    background: black;
    padding: 40px;
    margin-top:  5%;
    border: 10px;
    text-align: center;
    display: auto;
}
