body{
    margin: 0;
    padding: 0;
    background:url(./image.jpeg)no-repeat;
    background-size: cover;
}
 h1{
    font-size: 40px;
    padding-top: 20px; 
}

.container{
    width: 700px;
    margin: auto;
    border: 10px;
    align-items: center;
    display: flex;
}

#year-input{
    border-radius: 5px;
    width: 60px;
    height: 20px;
    box-shadow: 2px 2px #000;
}
#month-input{
    border-radius: 5px;
    width: 60px;
    height: 20px;
    box-shadow: 2px 2px #000;
}
#date-input{
    border-radius: 5px;
    width: 60px;
    height: 20px;
    border-radius: 2px 2px #000;
}
#get-name{
    border-radius: 5px;
    text-align: center;
    background-color :blanchedalmond;
    font-size: 13px;
    box-shadow: 2px px #000;
    width: 108px;
    height: 32px;
    font-size: 13px;
    box-shadow: 2px 2px #000;
}
#result{
    align-items: center;
}