body{
    margin: 0;
    padding: 0;
    background:url(./image.jpeg)no-repeat;
    background-size: cover;
    font-family:  sans-serif;
}
 h1{
    font-size: 40px;
    padding-top: 20px; 
}

.container{
    width: 80%;
    margin: auto;
}